body {
    height: 100vh;
    background-color: rgb(160, 152, 152);
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.h-3vh {
    min-height: 42px;
    max-height: 5vh;
}

.w-70 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.w-90 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.w-100 {
    width: 100%
}

.mr-8px {
margin-right: 8px;
}

.center {
    justify-content: center;
    align-items: center;
}

.space-between {
    justify-content: space-between;
    align-items: center;
}

.btn-sm {
    height: 33px;
}

header {
    position: fixed;
    top: 0;
}

.content {
    padding-top: 120px;
    padding-bottom: 80px;
}

#offset {
    width: 64px;
    margin-right: 8px;
    margin-left: 4px;
}

 #limit {
    width: 64px;
    margin-right: 8px;
    margin-left: 4px;
 }

.pkm-card {
    width: 300px;
    border: 1px solid black;
    margin: 5px;
    background-color: rgb(249, 250, 225);
    border-radius: 8px;
}

.pkm-title {
    margin-left: 8px;
}

.pkm-img-cont {
    background-color: aqua;
    margin: 8px;
    border-radius: 8px;
}

.pkm-img {
    height: 160px;
    object-fit: contain;
    margin: auto;
    margin-top: 4px;
}

.type-round {
    height: 30px;
    width: 30px;
    margin-right: 8px;
}

.footer {
    position: fixed;
    bottom: 0;
}